
<p>Enjoy a delicious season of high quality organic produce. Tasty summer and fall vegetables like sweet carrots, vibrant greens, summer squashes, tomatoes, onions and more. Share pickups happen <strong>every week</strong> during the summer and <strong>every other week</strong> in the fall. Includes PYO at the farm, newsletters, seasonal events, and access to bulk order produce for preserving!</p>

<h3>Choose your vegetable season</h3>

  <% @SeasonalShareOptions.each do |seasonal_option| %>
    <p><%= seasonal_option.name%> (<%=seasonal_option.num_of_distributions%> weeks <%=seasonal_option.start_date%> through <%=seasonal_option.end_date%> )</p>
  <% end %>


<h3>Select Additional Share Options you would like for the Season</h3>

<% @ExtraShareOptions.each do |extra_option| %>
<p><%= extra_option.name%> (<%=extra_option.num_of_distributions%> weeks <%=extra_option.start_date%> through <%=extra_option.end_date%> )</p>
<% end %>



