
<div class="container">
  <p>Enjoy a delicious season of high quality organic produce. Tasty summer and fall vegetables like sweet carrots, vibrant greens, summer squashes, tomatoes, onions and more. Share pickups happen <strong>every week</strong> during the summer and <strong>every other week</strong> in the fall. Includes PYO at the farm, newsletters, seasonal events, and access to bulk order produce for preserving!</p>

  <%=form_tag(order_path, method: "put") do %>
  <%= hidden_field_tag :order_id, @order.id %>

  <div class="well">
    <h3>Choose your vegetable season</h3>
  </div>
    <div class="seasonal-options">
      <% @SeasonalShareOptions.each do |seasonal_option| %>
      <ul id=<%=seasonal_option.id%>>
        <li>
          <input type="radio" name="seasonal_share" value=<%=seasonal_option.id%>>
          <label for=<%=seasonal_option.id%>><%=seasonal_option.name%></label>
          (<%=seasonal_option.num_of_distributions%> weeks <%=seasonal_option.start_date%> through <%=seasonal_option.end_date%> )
        </li>
        <li>Sliding scale: <%=number_to_currency(seasonal_option.min_price)%> to <%=number_to_currency(seasonal_option.max_price)%> Please pay at least <%=number_to_currency(seasonal_option.price)%> unless you are low income. Payments over <%=number_to_currency(seasonal_option.price)%> subsidizes shares for low income members and help the farm.</li>
        <li class="seasonal_price"><%= label_tag(:seasonal_price, "What amount will you pay? ") %>
          <input max=<%=seasonal_option.max_price%> min=<%=seasonal_option.min_price%> name="seasonal_price" step="1.0" type="number" />
        </li>
        <li><%= label_tag(:seasonal_quantity, "How many shares would you like? ") %>
          <input max="10.0" min="1.0" name="seasonal_quantity" step="1.0" type="number" />
        </li>
      </ul>
      <% end %>
    </div>
    <div class="well">
    <h3>Select Additional Share Options you would like for the Season</h3>
    </div>
      <table class="table table-hover extra-options-table">
        <tbody>
        <% @ExtraShareOptions.each do |extra_option| %>
          <tr id=<%=extra_option.id%>>
            <td class="image"><%= image_tag extra_option.image_url, class: "img-responsive"%></td>
            <td>
              <ul class="extra-options">
                <li>
                  <input type="checkbox" name="extra_share" value=<%=extra_option.id%>>
                  <label for=<%=extra_option.id%>><%=extra_option.name%></label>
                  (<%=extra_option.num_of_distributions%> weeks <%=extra_option.start_date%> through <%=extra_option.end_date%> )
                </li>
                <li><%=extra_option.description%></li>
                <li><%=number_to_currency(extra_option.price)%> each</li>
                <li><%= label_tag(:quantity, "How many shares would you like? ") %>
                  <input max="10.0" min="1.0" name="quantity" step="1.0" type="number" /></li>
              </ul>
            </td>
          </tr>
        <% end %>
       </tbody>
      </table>

  <% end %>
    <div class = "text-right">
      <input type="submit" value="Save" class="btn-sm btn-success" id="submit-button">
    </div>
  <div class="well">
    <h3>Choose your pickup location</h3>
  </div>
  <ul class="pickup-locations list-group">
  <% @PickupLocations.each do |location| %>
    <li class="list-group-item"><input type="radio" name="pickup_location" value=<%=location.name%>>
        <label for=<%=location.name%>><%=location.name%></label>
        , <%=location.day_of_week%>s from <%=location.start_time%> to <%=location.end_time%>.
         (<%=location.address_1%>, <%=location.city%>, <%=location.state%> <%=location.zip%>)
    </li>
  <% end %>
  </ul>

</div>



