
<div class="container">
  <p>Enjoy a delicious season of high quality organic produce. Tasty summer and fall vegetables like sweet carrots, vibrant greens, summer squashes, tomatoes, onions and more. Share pickups happen <strong>every week</strong> during the summer and <strong>every other week</strong> in the fall. Includes PYO at the farm, newsletters, seasonal events, and access to bulk order produce for preserving!</p>


  <%=form_tag(order_path, method: "put") do %>
  <div class="well">
    <h3>Choose your vegetable season</h3>
    <ul class="seasonal-options">
      <% @SeasonalShareOptions.each do |seasonal_option| %>

      <li>
        <input type="radio" name="seasonal_share" value=<%=seasonal_option.id%>>
        <label for=<%=seasonal_option.id%>><%=seasonal_option.name%></label>
        (<%=seasonal_option.num_of_distributions%>   weeks <%=seasonal_option.start_date%> through <%=seasonal_option.end_date%> )</li>
        <% end %>
      </ul>
    </div>
    <div class="well">
      <h3>Select Additional Share Options you would like for the Season</h3>
      <ul class="extra-options">
        <% @ExtraShareOptions.each do |extra_option| %>
        <li><%= image_tag extra_option.image_url %>
          <input type="checkbox" name="extra_share" value=<%=extra_option.id%>>
          <label for=<%=extra_option.id%>><%=extra_option.name%></label>
          (<%=extra_option.num_of_distributions%> weeks <%=extra_option.start_date%> through <%=extra_option.end_date%> )</li>
          <% end %>
        </ul>
      </div>
      <input type="submit" value="Continue" class="btn-sm btn-success">
      <% end %>
      <input type="submit" value="Continue" class="btn-sm btn-success" id="submit-button">
    </div>



