<!DOCTYPE html>
<html>
<head>
  <title>Redfire Farm Sign Up</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, message| %>
<%= content_tag :div, message, class: key %>
<% end %>

<%= yield %>

</body>
</html>
